html {
  box-sizing: border-box;
  background-color: #eee9de;
  font-family: Lato, sans-serif;
  line-height: 1.5;
  vertical-align: middle;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  text-align: center;
}

.gizaimage {
  max-width: 25em;
  padding: 1em;
  margin: 0;
  display: inline-block;
  width: 100%;
}

img {
  width: 100%;
  display: block;
}

h2 {
  line-height: 1.5;
  text-align: left;
  display: inline-block;
  font-weight: bold;
}

div {
  display: inline-block;
  max-width: 25em;
  padding: 1em;
  background-color: #eee9de;
  text-align: left;
  vertical-align: middle;
}

.content {
  margin: 0;
  padding: 2em 0;
  background-color: #eee9de;
  display: inline-block;
  width: 100%;
  max-width: 25em;
}

.btn {
  box-sizing: border-box;
  color: #000;
  border: 3px solid #333;
  border-radius: 5px;
  padding: .4em .75em .5em;
  font-family: Lato, serif;
  display: inline-block;
  text-decoration: none;
}

.btn a:hover {
  background-color: #666;
  color: #f2f2f2;
}
